<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usermapper">
	<insert id="insertUser" parameterType="java.util.Map"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO User (first_name, last_name)
		VALUES (#{firstName}, #{lastName})
	</insert>
</mapper>